@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&family=Bacasime+Antique&family=Montserrat:wght@400;500;600;700&display=swap");

body {
  height: 100vh;
  background: var(--color-base-bg-100);
  font: 16px/1.5;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #181717;
}

.font-mons{
  font-family: Montserrat,' sans-serif';
}
